# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Smart Contract

# Compiler files
onramp-contracts/cache/
onramp-contracts/out/
onramp-contracts/lib-temp/
onramp-contracts/ignition/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
onramp-contracts/.env

onramp-contracts/node_modules
onramp-contracts/.env

# Hardhat files
onramp-contracts/cache
onramp-contracts/artifacts
onramp-contracts/deployments

# TypeChain files
onramp-contracts/typechain
onramp-contracts/typechain-types

# solidity-coverage files
onramp-contracts/coverage
onramp-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
onramp-contracts/ignition/deployments/chain-31337

onramp-contracts/node_modules
onramp-contracts/.env

# Hardhat files
onramp-contracts/cache
onramp-contracts/artifacts

# TypeChain files
onramp-contracts/typechain
onramp-contracts/typechain-types

# solidity-coverage files
onramp-contracts/coverage
onramp-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
onramp-contracts/ignition/deployments/chain-31337

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
onramp-contracts/*.exe
onramp-contracts/*.exe~
onramp-contracts/*.dll
onramp-contracts/*.so
onramp-contracts/*.dylib
onramp-contracts/xchainClient

# Test binary, built with `go test -c`
onramp-contracts/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
onramp-contracts/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
onramp-contracts/go.work
onramp-contracts/go.work.sum

# env file
onramp-contracts/.env


# config
onramp-contracts/config/xchain_key.json
onramp-contracts/data/
