# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Smart Contract

# Compiler files
onramp-contracts/cache/
onramp-contracts/out/
onramp-contracts/lib-temp/
onramp-contracts/ignition/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
onramp-contracts/.env

onramp-contracts/node_modules
onramp-contracts/.env

# Hardhat files
onramp-contracts/cache
onramp-contracts/artifacts
onramp-contracts/deployments

# TypeChain files
onramp-contracts/typechain
onramp-contracts/typechain-types

# solidity-coverage files
onramp-contracts/coverage
onramp-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
onramp-contracts/ignition/deployments/chain-31337

onramp-contracts/node_modules
onramp-contracts/.env

# Hardhat files
onramp-contracts/cache
onramp-contracts/artifacts

# TypeChain files
onramp-contracts/typechain
onramp-contracts/typechain-types

# solidity-coverage files
onramp-contracts/coverage
onramp-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
onramp-contracts/ignition/deployments/chain-31337
